BACKEND_BASE_URL=https://scms.xynova.club

FEEDBACK_SMTP_HOST=smtp.qq.com
FEEDBACK_SMTP_PORT=465
FEEDBACK_SMTP_SECURE=true
FEEDBACK_SMTP_USER=2208026760@qq.com
FEEDBACK_SMTP_PASS=hxeyuglwukdodiah
FEEDBACK_SMTP_FROM=SCMS Plus <2208026760@qq.com>
FEEDBACK_SMTP_TO=2031700149@qq.com
